
@model CheeseMVC.ViewModels.AddCategoryViewModel
<form asp-controller="POST" asp-action="Add">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</form>